/* Colors */
$primary-bg-color: #223C50;
$petrol-light: #96dde7;
$grey-light: #c4c4c4;
$font-color-white: #FFFFFF;
$font-color-indigo: #223c50;


.App {
  text-align: center;
  color: $font-color-white;
}

.main-heading {
  font-size: 3em;
}

.button {
  background-color: $petrol-light;
  border: none;
  width: 10em;
  height: 4em;
}

.button:hover {
  background-color: darken($petrol-light, 20%);
}

